body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:url('../../images/主页/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:1800px 945px;
  position:relative;
  left:-280px;
  width:572px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:272px;
  width:421px;
  height:27px;
}
#u1007_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:427px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:32px;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u1009_img.mouseOver {
}
#u1009.mouseOver {
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:27px;
}
#u1011_img.mouseOver {
}
#u1011.mouseOver {
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:141px;
  height:27px;
}
#u1013_img.mouseOver {
}
#u1013.mouseOver {
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:43px;
  width:135px;
  height:135px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:214px;
  width:300px;
  height:25px;
}
#u1017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:343px;
  width:103px;
  height:29px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:354px;
  width:131px;
  height:18px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
