body {
  margin:0px;
  background-image:url('../../images/主页/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-28px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:147px;
  width:124px;
  height:32px;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:206px;
  width:1137px;
  height:181px;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:0px;
  width:189px;
  height:30px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:0px;
  width:189px;
  height:30px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:0px;
  width:189px;
  height:30px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:189px;
  height:30px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:187px;
  height:30px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:189px;
  height:27px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:30px;
  width:189px;
  height:27px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:30px;
  width:189px;
  height:27px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:30px;
  width:189px;
  height:27px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:30px;
  width:189px;
  height:27px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:27px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:30px;
  width:187px;
  height:27px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:189px;
  height:29px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:57px;
  width:189px;
  height:29px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:57px;
  width:189px;
  height:29px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:57px;
  width:189px;
  height:29px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:57px;
  width:189px;
  height:29px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:29px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:57px;
  width:187px;
  height:29px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:189px;
  height:30px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:86px;
  width:189px;
  height:30px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:86px;
  width:189px;
  height:30px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:86px;
  width:189px;
  height:30px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:86px;
  width:189px;
  height:30px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:86px;
  width:187px;
  height:30px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:189px;
  height:30px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:116px;
  width:189px;
  height:30px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:116px;
  width:189px;
  height:30px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:116px;
  width:189px;
  height:30px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:116px;
  width:189px;
  height:30px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:116px;
  width:187px;
  height:30px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:189px;
  height:30px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:146px;
  width:189px;
  height:30px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:146px;
  width:189px;
  height:30px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:146px;
  width:189px;
  height:30px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:146px;
  width:189px;
  height:30px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:146px;
  width:187px;
  height:30px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:214px;
  width:60px;
  height:16px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u1159_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:243px;
  width:100px;
  height:16px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1161_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:271px;
  width:100px;
  height:16px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1163_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:303px;
  width:100px;
  height:16px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1165_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:329px;
  width:100px;
  height:16px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1167_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:360px;
  width:100px;
  height:16px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1169_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:428px;
  width:96px;
  height:32px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:516px;
  width:86px;
  height:28px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:147px;
  width:47px;
  height:32px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:149px;
  width:99px;
  height:25px;
}
#u1177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:516px;
  width:56px;
  height:28px;
}
#u1178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:516px;
  width:57px;
  height:28px;
}
#u1179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:516px;
  width:38px;
  height:28px;
}
#u1180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:516px;
  width:36px;
  height:28px;
}
#u1181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:516px;
  width:50px;
  height:28px;
}
#u1182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:138px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:536px;
  width:300px;
  height:138px;
  opacity:0;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:45px;
  width:100px;
  height:30px;
}
#u1185_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:92px;
  visibility:hidden;
}
#u1189_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:98px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  color:#FFFFFF;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:100px;
  height:22px;
  color:#FFFFFF;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:100px;
  height:22px;
  color:#FFFFFF;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:24px;
  color:#FFFFFF;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:206px;
  width:1137px;
  height:181px;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:0px;
  width:189px;
  height:30px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:0px;
  width:189px;
  height:30px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:0px;
  width:189px;
  height:30px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:189px;
  height:30px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:187px;
  height:30px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:189px;
  height:27px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:30px;
  width:189px;
  height:27px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:30px;
  width:189px;
  height:27px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:30px;
  width:189px;
  height:27px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:30px;
  width:189px;
  height:27px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:27px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:30px;
  width:187px;
  height:27px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:189px;
  height:29px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:57px;
  width:189px;
  height:29px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:57px;
  width:189px;
  height:29px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:57px;
  width:189px;
  height:29px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:57px;
  width:189px;
  height:29px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:29px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:57px;
  width:187px;
  height:29px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:189px;
  height:30px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:86px;
  width:189px;
  height:30px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:86px;
  width:189px;
  height:30px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:86px;
  width:189px;
  height:30px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:86px;
  width:189px;
  height:30px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:86px;
  width:187px;
  height:30px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:189px;
  height:30px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:116px;
  width:189px;
  height:30px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:116px;
  width:189px;
  height:30px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:116px;
  width:189px;
  height:30px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:116px;
  width:189px;
  height:30px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:116px;
  width:187px;
  height:30px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:189px;
  height:30px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:146px;
  width:189px;
  height:30px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:146px;
  width:189px;
  height:30px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:146px;
  width:189px;
  height:30px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:146px;
  width:189px;
  height:30px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:146px;
  width:187px;
  height:30px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:159px;
  width:94px;
  height:32px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:159px;
  width:94px;
  height:32px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:31px;
  width:52px;
  height:44px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-2px;
  width:28px;
  height:214px;
}
#u1279p000 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:98px;
  width:206px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1279p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:4px;
}
#u1279p001 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:5px;
  height:5px;
}
#u1279p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:6px;
  height:6px;
}
#u1279p002 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:86px;
  width:28px;
  height:28px;
}
#u1279p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:30px;
  height:28px;
}
#u1279.compound {
  width:0px;
  height:0px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:82px;
  width:4px;
  height:200px;
  opacity:0.6;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:173px;
  width:69px;
  height:18px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-2px;
  width:28px;
  height:214px;
}
#u1283p000 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:97px;
  width:206px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1283p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u1283p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:5px;
  height:5px;
}
#u1283p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u1283p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-6px;
  width:28px;
  height:28px;
}
#u1283p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:30px;
}
#u1283.compound {
  width:0px;
  height:0px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:201px;
  width:4px;
  height:200px;
  opacity:0.6;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:411px;
  width:69px;
  height:35px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-2px;
  width:28px;
  height:214px;
}
#u1287p000 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:97px;
  width:206px;
  height:6px;
}
#u1287p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u1287p001 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:98px;
  width:5px;
  height:5px;
}
#u1287p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u1287p002 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:86px;
  width:28px;
  height:28px;
}
#u1287p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:30px;
}
#u1287.compound {
  width:0px;
  height:0px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:65px;
  width:4px;
  height:200px;
  opacity:0.6;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:156px;
  width:69px;
  height:18px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
